%div.modal-auth
  %h2 Регистрация
  %form.reg-form{ 'ng-submit' => 'signUp()', :name => 'signForm' }
    %div.modal-row
      %input.form-control{ type: :email, placeholder: 'E-mail', name: 'email', 'ng-model' => 'formData.user.email','ng-required' => true, 'server-validation' => true}
    %div.modal-row
      %input.form-control{ type: :password, placeholder: 'Password', name: 'password',  'ng-model' => 'formData.user.password', 'ng-required' => true, 'server-validation' => true }
    %div.row.row-fluid
      %div.col-md-12
        %div.message-container{'ng-show' => 'messages'}
          %p.message{'ng-repeat' => '(index, msg) in messages'}
            %span {{index*1+1}}. {{msg}}
            %br
      %div.col-md-12
        %button.btn.btn-success{:type => 'submit', 'ng-disabled' => 'signForm.$invalid || signForm.$pristine'}
          %span Зарегистрироваться
        %a.btn.btn-primary{'ng-click' => 'goSignIn()'}
          %span Вход на сайт